.exercise-section {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    /* width: 100%; */
}

.exercise-time {
    font-weight: bold;
}