.App {
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;

}



.left-side {
  padding: 30px;

}

.club-title {
  font-size: 30px;
  color: green;
  font-weight: 600;
  margin: 50px 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.right-side {
  padding: 20px;
  background-color: blanchedalmond;
}

.toast-btn {

  padding: 7px 10px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin: 10px 0;

}


@media only screen and (max-width: 850px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}