.App {
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: 6fr 2fr;

}



.left-side {
  border: 1px solid blue;
  padding: 30px;

}

.club-title {
  font-size: 30px;
  color: green;
  font-weight: 600;
  margin: 50px 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.right-side {
  border: 1px solid red;
  padding: 20px;
}